@import 'tailwindcss';
@charset "utf-8";

@layer base {
  html,
  body {
    font-size: 16px;
    margin: 0;
    background: #ffffff;
    color: #111827;
  }
  [data-theme='dark'] html,
  [data-theme='dark'] body {
    background-color: #111827;
    color: white;
  }
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@media only screen and (max-width: 480px) {
  .toastui-editor-popup.toastui-editor-popup-add-image,
  .toastui-editor-popup.toastui-editor-popup-add-link,
  .toastui-editor-popup.toastui-editor-popup-add-table {
    margin-left: 0 !important;
  }
  ,
  .toastui-editor-toolbar-icons {
    position: relative;
  }

  .toastui-editor-popup.toastui-editor-popup-add-heading {
    left: 38% !important;
    top: 25% !important;
    transform: translate(0, -50%) !important;
    z-index: 99 !important;
  }
  .toastui-editor-dropdown-toolbar {
    right: 0px !important;
  }
  .toastui-editor-defaultUI-toolbar button {
    margin: 7px 0px;
  }
}

@theme {
  --animate-slideup: slideup 1s ease-in-out forwards;
  @keyframes slideup {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  --animate-slidedown: slidedown 1s ease-in-out forwards;
  @keyframes slidedown {
    0% {
      transform: translateY(0%);
      opacity: 1;
    }
    100% {
      transform: translateY(100%);
      opacity: 0;
    }
  }
}

.ProseMirror {
  font-size: 16px;
}
//Editor에서 줌인 방지를 위해 default font-size를 16px 이상으로 설정.

//ios에서 viewport 이슈 해결을 위함.
@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: 100vh;
    max-height: -webkit-fill-available !important;
  }
}
