@import 'tailwindcss';
@charset "utf-8";

@layer base {
  html,
  body {
    font-size: 16px;
    margin: 0;
    background: #ffffff;
    color: #111827;
  }
  [data-theme='dark'] html,
  [data-theme='dark'] body {
    background-color: #111827;
    color: white;
  }
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@media only screen and (max-width: 480px) {
  .toastui-editor-popup.toastui-editor-popup-add-image,
  .toastui-editor-popup.toastui-editor-popup-add-link,
  .toastui-editor-popup.toastui-editor-popup-add-table {
    margin-left: 0 !important;
  }
  ,
  .toastui-editor-toolbar-icons {
    position: relative;
  }

  .toastui-editor-tooltip {
    left: 78% !important;
    top: 4% !important;
    transform: translate(0, -50%) !important;
    z-index: 9999 !important;
  }

  .toastui-editor-tooltip .arrow {
    left: -5px !important;
    top: 50% !important;
    transform: translateY(-50%) rotate(45deg) !important;
    background-color: #444;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: -1;
  }

  .toastui-editor-popup.toastui-editor-popup-add-heading {
    left: 38% !important;
    top: 25% !important;
    transform: translate(0, -50%) !important;
    z-index: 9999 !important;
  }
}

@theme {
  --animate-slideup: slideup 1s ease-in-out forwards;
  @keyframes slideup {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  --animate-slidedown: slidedown 1s ease-in-out forwards;
  @keyframes slidedown {
    0% {
      transform: translateY(0%);
      opacity: 1;
    }
    100% {
      transform: translateY(100%);
      opacity: 0;
    }
  }
}
