@import 'tailwindcss';
@charset "utf-8";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@media (prefers-color-scheme: dark) {
  body {
    background: #111827;
    color: #ffffff;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #ffffff;
    color: #111827;
  }
}
